:root{
    --bg-color: #000;
    --operator-color: #ff9501;
    --aditional-color: #a6a6a6;
    --btn-font-color: #fdfdfd;
    --btn-bg-color :#333;
}

.calc{
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
    width: 300px;
    background-color: var(--bg-color);
    border-radius: 20px;
    color: white;
    margin: 50px auto;
    padding: 20px;
}

.screen{
    height: 125px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
    margin-bottom: 20px;
    
}

.screen p{
    text-align: right;
    font-size: 4rem;
    margin: 0;
}

.buttons{
    display: grid;
    grid-template-areas: 
    "ac plus-minus percent division"
    "seven eight nine multiple"
    "four five six minus"
    "one two three plus"
    "zero zero dot equal";
    justify-items: center;
    grid-gap: 7px;
}

.btn{
    background-color: var(--btn-bg-color);
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor:pointer;
    user-select: none;
    color: var(--btn-font-color);
}

.zero{
    grid-area: zero;
    width: 100%;
    border-radius: 34px;
}

.btn:hover{
    filter: brightness(120%);
}

.btn:active{
    filter: brightness(90%);
}

.btn.bg-add{
    background-color: var(--aditional-color);
}

.btn.operator{
    background-color: var(--operator-color);
}

